html{
	background: #08B4A4;
}

header{
	width: 100%;
	background-color: #EEB61F;
	display: inline-block;
	color: #FFFFFF;
}

.sub{
	float: right;
	margin-right: 10px;
}

.titulo{
	float: left;
	margin-left: 25px;
}

.en{
	position: relative;
	left: 485px;
	margin-top: 35px;
	margin-bottom: 0px;
}

li{
	background-color: #F7A124;
	display: inline;
	padding: 15px;
}

li:hover{
	background-color: #8DDCBC;
	color: #4A9275;
}

.par{
	position: relative;
	background-color: #E2E2E2;
	left: 310px;
	width: 760px;
	margin-top: 0px;
}
.ARD, .ARI, .ABD, .ABI{
	background-color: #E75212;
	width: 250px;
	height: 150px;
	display: block;
	overflow: hidden;
	 color: #E2E2E2;
}

.ARD, .ABD {
	float: right;
	margin-right: 15px;
}

.ABD, .ABI{
	margin-top: 35px;
}

.ARI, .ABI{
	margin-left: 15px;
}

.b{
	color: black;
}